<header>
	<div class="container">
		<a id="logotype" href="/">
			Fixxo.
		</a>

		<div id="menu" class="">
			<nav class="menu-links links">
				<a class="link" asp-action="Index" asp-controller="Home">
					Home
				</a>
				<a class="link" asp-action="Index" asp-controller="Products">
					Products
				</a>
				<a class="link" asp-action="Index" asp-controller="Contact">
					Contacts
				</a>
			</nav>

			<nav class="menu-icons icons">
				<a class="link">
					<i class="fa-regular fa-search"></i>
				</a>
				<a class="link">
					<i class="fa-regular fa-code-compare"></i>
				</a>
				<a class="link">
					<i class="fa-regular fa-heart"></i>
				</a>
				<a class="link">
					<i class="fa-regular fa-bag-shopping"></i>
				</a>
				<a class="link ms-5" asp-action="Index" asp-controller="Account">
					<i class="fa-regular fa-user"></i>
				</a>
			</nav>
		</div>

		<div id="toggle-icon" class="icons">
			<button class="link" data-option="toggle" data-target="#menu">
				<i class="fa-regular fa-bars"></i>
			</button>
		</div>
	</div>
</header>