@model ShowcaseModelDTO

<section class='showcase'>
    <div class="container">
        <div class="content">
            <div class="title-2">@Model.Offer</div>
            <div class="title-1">@Model.Title</div>
            <div class="title-3">@Model.Ingress</div>
            <a class="btn-theme" href="/products">SHOP NOW</a>
        </div>
        <img src="@Model.ImageUrl" alt="" />
    </div>
</section>